.todoButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 327px;
    height: 43px;
    background-color: #61DAFA;
    position: fixed;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('/src/assets/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    
}
